# Business Case study - II

* The main focus is to create a demographics breakdown of one of the program based on ethnicity or gender or both
* This business case involves concentrating on groups in order to promote education as well as to provide special aid and care with minority.

Importing the Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import textdistance

import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv(r"Sample_Data.csv")
#Show the data
data

,Contact_ID,Start_Term_and_Year,Program_Desc,IPEDS_Ethnicities,IPEDS_Hispanic,Sex,Created_Date,Complete_Date,Admit_Date,Deposit_Date
0,1.0,Spring 2021,Technology Management - MS,Asian,Non-Hispanic,Male,5/22/2020,NaN,NaN,NaN
1,2.0,Fall 2020,Business Administration - MBA,White/Caucasian,Non-Hispanic,Female,3/30/2020,4/15/2020,4/24/2020,NaN
2,3.0,Fall 2019,Accounting - MS,Prefer to not respond,Non-Hispanic,Male,8/30/2018,NaN,NaN,NaN
3,4.0,Fall 2020,Management - MS,White/Caucasian,Non-Hispanic,Male,7/29/2020,NaN,NaN,NaN
4,5.0,Spring 2022,Real Estate Development - MS,Asian,Non-Hispanic,Male,2/26/2021,12/2/2021,3/1/2022,1/11/2022
...,...,...,...,...,...,...,...,...,...,...
2361,2363.0,Fall 2022,Accounting - MS,Asian,Non-Hispanic,Female,11/25/2021,1/25/2022 21:15,NaN,NaN
2362,2364.0,Fal 2021,Business Administration - MBA,Asian,Non-Hispanic,Female,1/1/2021,5/6/2021 12:41,NaN,NaN
2363,2365.0,Fall 2022,Business Administration - MBA,Black/African American,Non-Hispanic,Female,1/14/2021,9/20/2021 11:06,9/20/2021 11:06,NaN
2364,2366.0,Fall 2020,Management - MS,White/Caucasian,Non-Hispanic,Male,7/14/2020,8/4/2020,8/13/2020,NaN
2365,2367.0,Fall 2022,Finance - MS,Pacific Islander,Hispanic,Male,1/28/2020,4/6/2022 16:13,NaN,NaN

As the data neededin order to show the demographics breakdown needes to be cleaned and saved separately we need to perform the following steps as previously done to the main data

In [3]:
data_clean=data[['Program_Desc','IPEDS_Ethnicities','IPEDS_Hispanic','Sex']]

In [4]:
data_clean

,Program_Desc,IPEDS_Ethnicities,IPEDS_Hispanic,Sex
0,Technology Management - MS,Asian,Non-Hispanic,Male
1,Business Administration - MBA,White/Caucasian,Non-Hispanic,Female
2,Accounting - MS,Prefer to not respond,Non-Hispanic,Male
3,Management - MS,White/Caucasian,Non-Hispanic,Male
4,Real Estate Development - MS,Asian,Non-Hispanic,Male
...,...,...,...,...
2361,Accounting - MS,Asian,Non-Hispanic,Female
2362,Business Administration - MBA,Asian,Non-Hispanic,Female
2363,Business Administration - MBA,Black/African American,Non-Hispanic,Female
2364,Management - MS,White/Caucasian,Non-Hispanic,Male
2365,Finance - MS,Pacific Islander,Hispanic,Male

In [12]:
data_clean=data_clean.dropna()

In [13]:
unique_branch = ['Accounting MS','Business Administration - MBA','Real Estate Development - MS','Business - PHD','Finance - MS','Management - MS','Technology Management - MS']

comparision_string=None 

def compare_with_array(column_element):
    global comparision_string
    return textdistance.jaccard(column_element,comparision_string)

In [14]:
Program_name=pd.DataFrame()

for unique_values in unique_branch:
    comparision_string = unique_values
    Program_name[unique_values] = data_clean['Program_Desc'].apply(compare_with_array)

Program_name['Final']=Program_name[['Accounting MS','Business Administration - MBA','Real Estate Development - MS','Business - PHD','Finance - MS','Management - MS','Technology Management - MS']].idxmax(axis=1)
Program_name
        
# data_1['Accounting MS']=data_1['Program_Desc'].apply(compare_with_array)
data_clean['Program_Desc_Final']=Program_name['Final']

In [15]:
data_clean = data_clean.drop('Program_Desc', axis=1)

In [16]:
data_eth=data_clean[['IPEDS_Ethnicities','Program_Desc_Final']]
data_his=data_clean[['IPEDS_Hispanic','Program_Desc_Final']]
data_sex=data_clean[['Sex','Program_Desc_Final']]

Now that we have saved into three different dataframes , since the MBA admission are more, let us concentrate more on the MBA data only. Filtering can be done as shown below.

## Final Ethnicity breakdown

In [17]:
data_eth_final=data_eth[data_eth['Program_Desc_Final']=='Business Administration - MBA']
data_eth_final.to_csv("Final_Ethenicity.csv")

## Final hispanic/Non-Hispanic breakdown

In [19]:
data_his_final=data_his[data_his['Program_Desc_Final']=='Business Administration - MBA']
data_his_final.to_csv("His_final.csv")

## Final Gender breakdown

In [ ]:
data_sex_final=data_sex[data_sex['Program_Desc_Final']=='Business Administration - MBA']
data_sex_final.to_csv("Sex_final.csv")